.u-section-1 .u-sheet-1 {
    min-height: 773px;
  }
  
  .u-section-1 .u-container-layout-1,
  .u-section-1 .u-container-layout-2,
  .u-section-1 .u-container-layout-3,
  .u-section-1 .u-container-layout-4 {
    padding: 20px 30px 15px;
  }
  
  .u-section-1 .u-form-1 {
    width: 510px;
    margin: 22px 151px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-list-1 {
    width: 454px;
    margin: -460px 27px 13px auto;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 4px 4px;
    min-height: 447px;
    grid-auto-columns: 100%;
  }
  
  .u-section-1 .u-list-item-1,
  .u-section-1 .u-list-item-2,
  .u-section-1 .u-list-item-3 {
    background-image: none;
  }
  
  .u-section-1 .u-icon-1,
  .u-section-1 .u-icon-2,
  .u-section-1 .u-icon-3 {
    height: 27px;
    width: 27px;
    margin: 15px auto 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-text-2,
  .u-section-1 .u-text-4,
  .u-section-1 .u-text-6 {
    font-weight: 700;
    text-transform: uppercase;
    margin: -27px 1px 0 40px;
  }
  
  .u-section-1 .u-text-3,
  .u-section-1 .u-text-5,
  .u-section-1 .u-text-7 {
    margin: 20px 1px 0;
  }
  
  .u-body {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .u-clearfix:after,
  .u-clearfix:before {
    content: '';
    display: table;
  }
  
  .u-clearfix:after {
    clear: both;
  }
  
  .u-palette-4-dark-1,
  .u-palette-4-dark-1 u-sidenav,
  .u-table-alt-palette-4-dark-1 tr:nth-child(even) {
    color: #ffffff;
    background-color: #2cccc4;
  }
  
  .u-input.u-palette-4-dark-1,
  .u-button-style.u-palette-4-dark-1,
  .u-button-style.u-palette-4-dark-1[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #2cccc4 !important;
  }
  
  .u-button-style.u-palette-4-dark-1:hover,
  .u-button-style.u-palette-4-dark-1[class*="u-border-"]:hover,
  .u-button-style.u-palette-4-dark-1:focus,
  .u-button-style.u-palette-4-dark-1[class*="u-border-"]:focus,
  .u-button-style.u-button-style.u-palette-4-dark-1:active,
  .u-button-style.u-button-style.u-palette-4-dark-1[class*="u-border-"]:active,
  li.active>.u-button-style.u-button-style.u-palette-4-dark-1,
  li.active>.u-button-style.u-button-style.u-palette-4-dark-1[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #28b8b0 !important;
  }
  
  .u-form div.u-form-send-success {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    border: none;
  }
  
  .u-repeater {
    display: grid;
    grid-template-columns: repeat(3, 33.33333333%);
  }
  
  .u-form-send-success {
    background: #62C584;
  }
  
  .u-container-style.u-hover-feature,
  .u-container-style.u-hover-feature:before {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  .u-container-style.u-hover-feature:before {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    transition-duration: inherit;
  }
  
  .u-container-style.u-hover-feature:hover:before {
    opacity: 1;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }
  
  .u-align-left {
    text-align: left;
  }
  
  .u-section-1 {
    background-image: none;
  }
  
  .u-sheet {
    position: relative;
    margin: 0 auto;
  }
  
  .u-xl-mode .u-sheet,
  .u-xxl-mode .u-sheet {
    width: var(--theme-sheet-width-xl);
  }
  
  .u-group {
    display: flex;
  }
  
  .u-section-1 .u-group-1 {
    width: 740px;
    min-height: 561px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    height: auto;
    margin: 94px auto 0 0;
  }
  
  .u-font-arial.u-custom-font {
    font-family: Arial, sans-serif !important;
  }
  
  .u-form-text.u-text {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 13px 81px 0 0;
  }
  
  .u-form {
    position: relative;
    font-size: 1rem;
    height: auto !important;
  }
  
  .u-form-vertical.u-form-spacing-28,
  .u-form-vertical.u-form-spacing-28 .u-form-step {
    margin-left: -28px;
    width: calc(100% + 28px);
  }
  
  .u-form-control-hidden {
    display: none !important;
  }
  
  .u-border-black,
  .u-separator-black:after {
    border-color: #000000;
    stroke: #000000;
  }
  
  .u-button-style.u-border-black {
    border-color: #000000 !important;
    color: #000000 !important;
    background-color: transparent !important;
  }
  
  .u-input-rectangle {
    border-radius: 0;
  }
  
  .u-button-style.u-border-black:hover,
  .u-button-style.u-border-black:focus {
    border-color: transparent !important;
    color: #000000 !important;
    background-color: transparent !important;
  }
  
  .u-tab-list[class*="u-border"] .u-tab-link.u-border-2 {
    margin-bottom: -2px;
  }
  
  .u-button-style.u-border-no-right.u-border-no-left.u-border-no-bottom,
  .u-button-style.u-border-no-top.u-border-no-left.u-border-no-bottom,
  .u-button-style.u-border-no-top.u-border-no-right.u-border-no-bottom,
  .u-button-style.u-border-no-top.u-border-no-right.u-border-no-left,
  .u-btn-rectangle {
    border-radius: 0 !important;
  }
  
  .u-form-send-message {
    z-index: 1;
  }
  
  .u-palette-5-dark-3,
  section.u-palette-5-dark-3:before,
  .u-palette-5-dark-3>.u-audio-main-layout-wrapper:before,
  .u-palette-5-dark-3>.u-container-layout:before,
  .u-palette-5-dark-3.u-sidenav:before,
  .u-container-layout.u-container-layout.u-palette-5-dark-3:before,
  .u-table-alt-palette-5-dark-3 tr:nth-child(even) {
    color: #ffffff;
    background-color: #292d33;
  }
  
  .u-input.u-palette-5-dark-3,
  .u-button-style.u-palette-5-dark-3,
  .u-button-style.u-palette-5-dark-3[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #292d33 !important;
  }
  
  .u-button-style.u-palette-5-dark-3:hover,
  .u-button-style.u-palette-5-dark-3[class*="u-border-"]:hover,
  .u-button-style.u-palette-5-dark-3:focus,
  .u-button-style.u-palette-5-dark-3[class*="u-border-"]:focus,
  .u-button-style.u-button-style.u-palette-5-dark-3:active,
  .u-button-style.u-button-style.u-palette-5-dark-3[class*="u-border-"]:active,
  li.active>.u-button-style.u-button-style.u-palette-5-dark-3,
  li.active>.u-button-style.u-button-style.u-palette-5-dark-3[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #25292e !important;
  }
  
  .u-repeater-item {
    display: flex;
    position: relative;
  }
  
  .u-text-palette-4-dark-1,
  .u-input.u-text-palette-4-dark-1,
  li.active>a.u-button-style.u-text-palette-4-dark-1,
  a.u-button-style.u-text-palette-4-dark-1 {
    color: #2cccc4 !important;
  }
  
  a.u-button-style.u-text-palette-4-dark-1:hover,
  a.u-button-style.u-text-palette-4-dark-1:focus,
  a.u-button-style.u-button-style.u-text-palette-4-dark-1:active,
  a.u-button-style.u-button-style.u-text-palette-4-dark-1.active {
    color: #28b8b0 !important;
  }
  
  .u-file-icon::after {
    content: '';
    height: 1em;
    display: block;
  }
  
  .u-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--step-icon-default-color);
    border: var(--step-icon-border-width) solid var(--step-icon-border-color);
    border-radius: var(--step-icon-border-radius);
    color: var(--step-icon-text-default-color);
    width: var(--step-icon-size);
    height: var(--step-icon-size);
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      margin-top: 70px;
      height: auto;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-right: 265px;
    }
  
    .u-section-1 .u-form-1 {
      width: 435px;
      margin-right: 150px;
    }
  
    .u-section-1 .u-list-1 {
      width: 414px;
      height: auto;
      margin-top: -429px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1152px;
    }
  
    .u-section-1 .u-group-1 {
      width: 537px;
      min-height: 599px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 100px;
    }
  
    .u-section-1 .u-list-1 {
      width: 502px;
      margin-top: -82px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1128px;
    }
  
    .u-section-1 .u-group-1 {
      width: 509px;
      min-height: 582px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-bottom: 30px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: 10px;
    }
  
    .u-section-1 .u-list-1 {
      width: 461px;
      margin-top: -44px;
      margin-bottom: 15px;
    }
  
    .u-section-1 .u-container-layout-2,
    .u-section-1 .u-container-layout-3,
    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1136px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 509px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-1,
    .u-section-1 .u-list-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.5rem;
    }
  
    .u-section-1 .u-form-1 {
      width: 300px;
      margin-right: 0;
    }
  
    .u-section-1 .u-list-1 {
      margin-top: 24px;
      margin-bottom: 25px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-icon-1,
    .u-section-1 .u-icon-2,
    .u-section-1 .u-icon-3 {
      margin-top: 7px;
    }
  
    .u-section-1 .u-text-2,
    .u-section-1 .u-text-4,
    .u-section-1 .u-text-6 {
      width: auto;
      margin-top: -23px;
      margin-right: 0;
      margin-left: 46px;
    }
  
    .u-section-1 .u-text-3,
    .u-section-1 .u-text-5,
    .u-section-1 .u-text-7 {
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  