.contact-container {
  background-color: #33ABA0;
  /* border: 1px solid #000; */
  padding: 30px;
  width: 50%;
  color: #fff;
}

.title-contact {
  font-size:48px;
}

.container-form {
  padding:20px;
  /* border: 1px solid #000; */
}

.call-info-container{
  /* border: 1px solid #000;  */
}

.info-cont {
  background-color:#333;
  padding: 25px;
  color: #fff;
  margin: 20px;
}