
/* Estilos para el contenedor principal */
.container {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}
/* styles.css */
.body-background {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fastelus.com%2Fpaisajes-campo%2F&psig=AOvVaw2LdMS5l3p9SjsEMhYEZPpV&ust=1697082001166000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPiB9JqJ7YEDFQAAAAAdAAAAABAS');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Esto asegura que la imagen ocupe toda la altura de la pantalla */
}


/* Estilos para los encabezados */
h1 {
    color: #007bff;
}

h4 {
    color: #343a40;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #007bff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para las columnas */
.col-4 {
    margin-bottom: 20px;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
