.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.navbar {
  /* background-color: #33aba0; */
}

.p-menubar {
  border: none;
  border-radius: 0;
  
}

.p-menu-list:hover {
    background-color: #000;
}

.p-menuitem-icon {
    padding: 5px 10px;
}

.p-menuitem-text{
    /* background-color: #000; */
    padding: 10px;
}

.p-menuitem:hover{
    background-color: transparent !important;
}

.p-sidebar-header {
  background-color: #f8f9fa;
  padding: 25px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/826/826070.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 41px;
  margin-left: 10px; 
}
