.main-container {
  /* border-top: 1px solid #000; */
}

.image-container {
  margin: 20px;
  position: relative;
  border-radius:20px;
  height: 450px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.imageOferta {
  width: 100%;
  /* height: auto; */
  border-radius:20px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-container:hover .imageOferta {
  transform: scale(1.05);
  filter: brightness(0.6);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: background-color 0.3s;
}

.overlay p{
  color: #F2B30C;
  font-size:12px;
  font-weight: 500;
}

.overlay h4{
  color: #fff;
  font-weight: 500;
}

.prices {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(222, 186, 26);
  color: #00286e;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

.prices .main-price {
  font-size:23px;
  font-weight: bold;
}

.prices .before-price {
  text-align: center;
  /* font-weight:bold; */
  font-size: 12px;
  text-decoration: line-through;
}

.banner-container {
    text-align: center;
}

.enlace {
  text-decoration: none;
  
}

.color-oferta {
  color: #33ABA0;
}

.cubeOf {
  display: flex;
  border: 2px solid #33ABA0;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  color: #33ABA0;
}

@media screen and (max-width: 1280px) {

  .main-container {
    /* flex-wrap: wrap; */
  }

  .image-container {
    /* border: 1px solid #000; */
    margin: 20px; /* Espaciado alrededor de cada imagen */
    flex: 0 0 calc(35% - 20px); /* Tamaño flexible del contenedor, 25% del ancho con margen */
  }

  .image-container img {
    width: 100%; /* Imágenes se ajustan al ancho del contenedor */
    /* height: 400px; */
  }

}